<tr data-id="<%= profile.id %>">
  <td><%= profile.first_name %></td>
  <td><%= profile.last_name %></td>
  <td class="center"><a href="#" class="change-role"><span class="glyphicon <%= profile.admin ? 'glyphicon-arrow-down' : 'glyphicon-arrow-up' %>"></span></a></td>
</tr>
