<div class="row">
  <div class="col-xs-12 text-center">
    <h1 class="text-muted">Welcome to</h1>
    <h1 class="">student2student</h1>
  </div>
</div>

<% if @user.has_profile? == false %>
  <%= link_to "Please create a profile", new_profile_path %>
<% elsif @user.profile.admin == true %>

  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="content">
        <a href="/days" class="btn btn-xlarge btn-default"><span class="glyphicon glyphicon-calendar"></span> Calendar</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="content">
        <a href="/profiles" class="btn btn-xlarge btn-default"><span class="glyphicon glyphicon-list"></span> Staff & students</a>
      </div>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Your match for today is: <%= @user.todays_match %></h2>
    </div>
  </div>

<% end %>
