<div class="row">
  <div class="col-xs-6 col-xs-offset-1">

    <h1>Today's matches</h1>

    <%= render @match_pairs %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-1">
    <%= link_to "Back to calendar", days_path, class: "btn btn-default" %>
  </div>
</div>
